

<section class="section">
    <div class="container">

        <section class="page-section what-we-do-section">
            <div class=page-section__block>
                <h1 class="landing-header landing-header--undecorated landing-header--font-regular text-center">What We
                    Do</h1>
                <p class="sub-title text-center">We supply end-to-end software program development, nice assurance and assist options to consumers ranging from Fortune five hundred corporations to startups in all degrees of funding
                </p>
                <p class="text-muted">
                    <br>Future AI Soft is a premier full provider Development and Quality Assurance partner, specializing in the improvement of time-sensitive and revolutionary SaaS, cellular and on-premises solutions. For our consumers software program is a indispensable success factor. To each and every project, we deliver a mixture of area expertise, great engineering talent, rigorous first-class practices, dedication to safety of client’s IP and accountability of a US business enterprise with over two a long time of impeccable reputation.
                </p>
                <p class="text-muted">According to the Inc. One hundred rating Future AI Soft is the thirteenth quickest developing MA enterprise and 49th in the World overall.</p>
                <p class="text-muted">Future AI Soft Software has correctly delivered properly over 49 thousand options to hundreds of clients. Our clients range from massive companies to dynamic startups, from software program carriers and SaaS groups to digital healthcare innovators, app vendors, advertising firms, economic offerings providers, publishers and instructional institutions.</p>
                <p class="text-muted">Future AI Soft has been the secret sauce in MarketSpectrum, the biggest-selling software program product in the records of DnB, the Mass Challenge winner social community RallyPoint and the UPenn’s AppITUP cellular app winner Rescufy.</p>
                <p class="text-muted">We have perfected a clean, low-cost method for getting into and exiting improvement and QA approaches at the proper time, the usage of the proper resources. Our prolonged and significant song file has geared up us with the capability to supply rapid, low-budget options that combination seamlessly with the product and enterprise strategy, infrastructure analysis, architecture, UX design, fast development, practical QA, or QA automation – or all of the above.</p>
                <div class="btn-wrapper text-center">
                    <a routerLink="/contact-us">
                        <button class="btn btn-primary"  data-toggle=modal data-target=#modal-contacts>Talk to us About Your
                            Project</button>
                    </a>
                </div>
            </div>
        </section>
    </div>
</section>
<section class="page-section our-services-section bg-blue">
    <h2 class="landing-header text-center text-white">Our Services</h2>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon1.svg"
                    alt="Custom Software Development">

            </div>
            <div class="item-description">Custom Software
                <br>Development
            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon2.svg" alt="Cloud Engineering">

            </div>
            <div class=item-description>Cloud Engineering

            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon3.svg"
                    alt="Software Product Development">

            </div>
            <div class=item-description>Software Product
                <br>Development
            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon4.svg" alt="Mobile Solutions">

            </div>
            <div class=item-description>Mobile Solutions</div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon5.svg"
                    alt="Front-End, UX and UI development services">

            </div>
            <div class="item-description">Front-End, UX and UI
                <br> development services
            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon6.svg"
                    alt="Enterprise Application Integration">

            </div>
            <div class=item-description>Enterprise Application
                <br>Integration

            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon7.svg"
                    alt="Legacy System Modernization">

            </div>
            <div class=item-description>Legacy System
                <br> Modernization
            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon8.svg" alt="Maintenance and Support">

            </div>
            <div class=item-description>Maintenance and
                <br>Support
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon9.svg"
                    alt="Quality Assurance and Testing Services">

            </div>
            <div class="item-description">Quality Assurance and
                <br> Testing Services
            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon10.svg" alt="DevOps Services">

            </div>
            <div class=item-description>DevOps Services
            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon11.svg" alt="Business Intelligence">

            </div>
            <div class=item-description>Business Intelligence

            </div>
        </div>
        <div class="col-md-2 py-3">

        </div>
        <div class="col-md-2"></div>
    </div>

</section>
<section class="page-section" style="background-color: rgb(243, 241, 241);">
    <div class="container">


        <h2 class="landing-header text-center">Engagement Models</h2>

        <div class="row">
            <!-- <div class="col-md-2"></div> -->
            <div class="col-md-3 py-3">
                <div class="card card-item">
                    <div class="engagement-item-header py-4">
                        <img class="items-list" src="assets/about/time-and-materials-green.svg" alt="Time">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TIME & MATERIALS</h5>
                        <p class="card-text">Ideal for bendy engagements, such as discovery, fast prototyping and maintenance, our T&M mannequin lets in you to shortly scale up and down your commitment</p>

                    </div>
                </div>

            </div>
            <div class="col-md-3 py-3">
                <div class="card card-item">
                    <div class="engagement-item-header py-4">
                        <img class="items-list" src="assets/about/fixed-price-green.svg" alt="Time">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">FIXED PRICE</h5>
                        <p class="card-text">Our Fixed Price mannequin is perfect for tasks with truely described objectives
                            and milestones. We grant designated proposals, schedules, and deliverables.</p>

                    </div>
                </div>

            </div>
            <div class="col-md-3 py-3">
                <div class="card card-item">
                    <div class="engagement-item-header py-4">
                        <img class="items-list" src="assets/about/key-circle-green.svg" alt="Time">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">RETAINER AGREEMENT </h5>
                        <p class="card-text">Future AI works with a quantity of consumers on month-to-month and annual retainer
                            agreements. This structured engagement is best for assignment kickoffs and ongoing work.</p>

                    </div>
                </div>

            </div>
            <div class="col-md-3 py-3">
                <div class="card card-item">
                    <div class="engagement-item-header py-4">
                        <img class="items-list" src="assets/about/squares-green.svg" alt="Time">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">HYBRID</h5>
                        <p class="card-text">Because all initiatives are different, we provide one of a kind pricing and
                            engagement models. A hybrid mannequin offers the ideal combination of shape and flexibility. 
                        </p>

                    </div>
                </div>

            </div>
            <!-- <div class="col-md-2"></div> -->
        </div>
    </div>
</section>
<section class="page-section page-section--blockquote bg-grayish-blue">
    <div class=page-section__block>
        <div class="br-lg-enable">
            <div class="py-4">
                <img class="alignright" src="assets/about/houghton1.png" alt="Time">
            </div>
            <p class="text-white text-center">“We selected FutureAI Soft because of their excellent experience in helping print
                publishers

               <br> make the enterprise and technological know-how transition to digital media, and their proven
               <br>track record  in creating robust, industrial merchandise for the Web. Our agreement
               <br>additionally capability that Houghton Mifflin will have strategic get admission to to FutureAI Soft’s unique
               <br>aggregate of lexical and technical expertise.” 
                
            </p>
            <footer class="blockquotefooter text-center">Houghton Mifflin Harcourt</footer>
        </div>
    </div>
</section>
<section class="page-section" style="background-color: rgb(243, 241, 241);">
    <div class="container">


        <h2 class="landing-header text-center">Our “Secret Sauce”</h2>
        <div class=items-column>
            <div class=items-column__item>
                <div class="row">
                    <div class="row">
                        <div class="items-column__item-header col-md-3">
                            <div class="item-content">
                                <div class="item-title">Skill</div>
                                <div class="item-icon">
                                    <img src="assets/secret/skill-head-blue.svg" alt="Skill" class="lazyloaded"
                                        data-ll-status="loaded"><noscript><img src="" alt=Skill></noscript>
                                </div>
                            </div>
                        </div>

                        <div class="items-column__item-body col-md-9">
                            <div class="item-content">
                                <ul class="styled-list styled-list--mark-blue">

                                    <li>We recruit and keep remarkable engineering intelligence and preserve education them. 80%
                                        of FutureAI SOft builders and over 50% or QA body of workers keep MS diploma in Computer
                                        Science or associated fields. We have developed and perfected recruitment, hiring,
                                        training, and retention practices that enable us to convey on the exceptional and the
                                        brightest technical personnel and empower them with rigorous agile engineering
                                        procedures – which collectively represent the biggest differentiator of our
                                        offerings in the marketplace. </li>
                                    <li>The breadth of technical knowledge uncommon for a mid-sized software program development
                                        partner. FutureAI Soft has quite a few hundred engineers well-versed in different
                                        combos of C++, Java, C#, RoR, Objective C, JavaScript, and different languages
                                        with journey in a multitude of underlying platforms, IDEs, APIs, databases and
                                        frameworks. </li>
                                    <li>Integrated Quality Assurance – Manual and Automated</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=items-column__item>
                <div class="row">
                    <div class="row">
                        <div class="items-column__item-header col-md-3">
                            <div class="item-content">
                                <div class="item-title">Skill</div>
                                <div class="item-icon">
                                    <img src="assets/secret/stopwatch-blue.svg" alt="Skill" class="lazyloaded"
                                        data-ll-status="loaded"><noscript><img src="" alt=Skill></noscript>
                                </div>
                            </div>
                        </div>
                        <div class="items-column__item-body col-md-9">
                            <div class="item-content">
                                <ul class="styled-list styled-list--mark-blue">
                                    <li>We bring together a committed crew prepared to have interaction quicker than hiring locally. We are
                                        capable to shortly scale up or downsize in accordance to client’s desires </li>
                                    <li>Ingrained Agile Development Methodology.</li>
                                    <li>Future AI Soft has been actively the usage of Agile Methodology on the grounds that 2007. Our first agile team
                                        used to be educated in Amsterdam as there was once no agile education accessible regionally at
                                        that time. Currently, over 70% of FutureAI Soft’s initiatives make use of Agile or near-Agile
                                        development. </li>
                                    <li>Tight integration with the Client’s team and processes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=items-column__item>
                <div class="row">
                    <div class="row">
                        <div class="items-column__item-header col-md-3">
                            <div class="item-content">
                                <div class="item-title">Skill</div>
                                <div class="item-icon">
                                    <img src="assets/secret/security-key-blue.svg" alt="Skill" class="lazyloaded"
                                        data-ll-status="loaded"><noscript><img src="" alt=Skill></noscript>
                                </div>
                            </div>
                        </div>
                        <div class="items-column__item-body col-md-9">
                            <div class="item-content">
                                <ul class="styled-list styled-list--mark-blue">
                                    <li>Thorough protection of client’s IP</li>
                                    <li>Future AI Soft has labored on a number enterprise-class purposes that require strict
                                        protection protocols. Security is certain at countless levels, including
                                        authentication and authorization capabilities, communication, and facts security. 
                                    </li>
                                    <li>Internal training and regular audits </li>
                                    <li>Spotless record for 20 years</li>
                                    <li>We have experienced zero security-related breaches or complaints in company’s
                                        history</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section--blockquote bg-grayish-blue">
    <div class=page-section__block>
        <div class="br-lg-enable">
            <h3 class="text-white landing-header landing-header--undecorated landing-header--light landing-header--font-regular">Submit
                an RFP, request a quote or <br>contact us to learn how we can help you.</h3>
        </div>
        <div class="btn-wrapper text-center">
            <a routerLink="/contact-us">
                <button class="btn btn-success btnGetStart" data-toggle=modal data-target=#modal-contacts>Get Started with Your
                    Project</button>
            </a>
        </div>
    </div>
</section>