<app-header></app-header>

<section class="section">
    <div class="container">

        <section class="page-section what-we-do-section">
            <div class=page-section__block>
                <h1 class="landing-header landing-header--undecorated landing-header--font-regular text-center">What We
                    Do</h1>
                <p class="sub-title text-center">We deliver end-to-end software development, quality assurance and
                    support solutions to clients ranging from Fortune 500 companies to startups in all stages of funding
                </p>
                <p class="text-muted">
                    <br> Kanda is a premier full service Development and Quality Assurance partner, specializing in the
                    development of time-sensitive and innovative SaaS, mobile and on-premises solutions. For our clients
                    software is a critical success factor. To every project, we bring a combination of domain expertise,
                    exceptional engineering talent, rigorous best practices, commitment to protection of client’s IP and
                    accountability of a US company with over two decades of impeccable reputation.
                </p>
                <p class="text-muted">According to the Inc. 500 ranking Kanda is the 13th fastest growing MA company and
                    459th in the US overall.</p>
                <p class="text-muted">Kanda Software has successfully delivered well over two thousand solutions to
                    hundreds of clients. Our customers vary from large corporations to dynamic startups, from software
                    vendors and SaaS companies to digital healthcare innovators, app vendors, marketing firms, financial
                    services providers, publishers and educational institutions.</p>
                <p class="text-muted">Kanda has been the secret sauce in MarketSpectrum, the biggest-selling software
                    product in the history of DnB, the Mass Challenge winner social network RallyPoint and the UPenn’s
                    AppITUP mobile app winner Rescufy.</p>
                <p class="text-muted">We have perfected a clean, economical approach for entering and exiting
                    development and QA processes at the right time, using the right resources. Our lengthy and extensive
                    track record has equipped us with the ability to provide rapid, cost-effective solutions that blend
                    seamlessly with the product and business strategy, infrastructure analysis, architecture, UX design,
                    rapid development, functional QA, or QA automation – or all of the above.</p>
                <div class="btn-wrapper text-center">
                    <button class="btn btn-primary" data-toggle=modal data-target=#modal-contacts>Talk to us About Your
                        Project</button>
                </div>
            </div>
        </section>
    </div>
</section>
<section class="page-section our-services-section bg-blue">
    <h2 class="landing-header text-center text-white">Our Services</h2>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon1.svg"
                    alt="Custom Software Development">

            </div>
            <div class="item-description">Custom Software
                <br>Development
            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon2.svg" alt="Cloud Engineering">

            </div>
            <div class=item-description>Cloud Engineering

            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon3.svg"
                    alt="Software Product Development">

            </div>
            <div class=item-description>Software Product
                <br>Development
            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon4.svg" alt="Mobile Solutions">

            </div>
            <div class=item-description>Mobile Solutions</div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon5.svg"
                    alt="Front-End, UX and UI development services">

            </div>
            <div class="item-description">Front-End, UX and UI
                <br> development services
            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon6.svg"
                    alt="Enterprise Application Integration">

            </div>
            <div class=item-description>Enterprise Application
                <br>Integration

            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon7.svg"
                    alt="Legacy System Modernization">

            </div>
            <div class=item-description>Legacy System
                <br> Modernization
            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon8.svg" alt="Maintenance and Support">

            </div>
            <div class=item-description>Maintenance and
                <br>Support
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon9.svg"
                    alt="Quality Assurance and Testing Services">

            </div>
            <div class="item-description">Quality Assurance and
                <br> Testing Services
            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon10.svg" alt="DevOps Services">

            </div>
            <div class=item-description>DevOps Services
            </div>
        </div>
        <div class="col-md-2 py-3">
            <div>
                <img class="items-list" src="assets/service/about_us_services_icon11.svg" alt="Business Intelligence">

            </div>
            <div class=item-description>Business Intelligence

            </div>
        </div>
        <div class="col-md-2 py-3">

        </div>
        <div class="col-md-2"></div>
    </div>

</section>
<section class="page-section" style="background-color: rgb(243, 241, 241);">
    <div class="container">


        <h2 class="landing-header text-center">Engagement Models</h2>

        <div class="row">
            <!-- <div class="col-md-2"></div> -->
            <div class="col-md-3 py-3">
                <div class="card card-item">
                    <div class="engagement-item-header py-4">
                        <img class="items-list" src="assets/about/time-and-materials-green.svg" alt="Time">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">TIME & MATERIALS</h5>
                        <p class="card-text">Ideal for flexible engagements, such as discovery, rapid prototyping and
                            maintenance, our T&M model allows you to quickly scale up and down your commitment.</p>

                    </div>
                </div>

            </div>
            <div class="col-md-3 py-3">
                <div class="card card-item">
                    <div class="engagement-item-header py-4">
                        <img class="items-list" src="assets/about/fixed-price-green.svg" alt="Time">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">FIXED PRICE</h5>
                        <p class="card-text">Our Fixed Price model is ideal for projects with clearly defined objectives
                            and milestones. We provide detailed proposals, schedules and deliverables.</p>

                    </div>
                </div>

            </div>
            <div class="col-md-3 py-3">
                <div class="card card-item">
                    <div class="engagement-item-header py-4">
                        <img class="items-list" src="assets/about/key-circle-green.svg" alt="Time">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">RETAINER AGREEMENT </h5>
                        <p class="card-text">Future AI works with a number of clients on monthly and annual retainer
                            agreements. This structured engagement is ideal for project kickoffs and ongoing work.</p>

                    </div>
                </div>

            </div>
            <div class="col-md-3 py-3">
                <div class="card card-item">
                    <div class="engagement-item-header py-4">
                        <img class="items-list" src="assets/about/squares-green.svg" alt="Time">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">HYBRID</h5>
                        <p class="card-text">Because all projects are different, we offer different pricing and
                            engagement models. A hybrid models offers the perfect blend of structure and flexibility.
                        </p>

                    </div>
                </div>

            </div>
            <!-- <div class="col-md-2"></div> -->
        </div>
    </div>
</section>
<section class="page-section page-section--blockquote bg-grayish-blue">
    <div class=page-section__block>
        <div class="br-lg-enable">
            <div class="py-4">
                <img class="alignright" src="assets/about/houghton1.png" alt="Time">
            </div>
            <p class="text-white text-center">“We selected Kanda because of their excellent experience in helping print
                publishers
                <br> make the business and technology transition to electronic media, and their proven
                <br> track record in developing robust, commercial products for the Web. Our agreement
                <br> also means that Houghton Mifflin will have strategic access to Kanda’s unique
                <br> combination of lexical and technical expertise.”
            </p>
            <footer class="blockquotefooter text-center">Houghton Mifflin Harcourt</footer>
        </div>
    </div>
</section>
<section class="page-section" style="background-color: rgb(243, 241, 241);">
    <div class="container">


        <h2 class="landing-header text-center">Our “Secret Sauce”</h2>
        <div class=items-column>
            <div class=items-column__item>
                <div class="row">
                    <div class="row">
                        <div class="items-column__item-header col-md-3">
                            <div class="item-content">
                                <div class="item-title">Skill</div>
                                <div class="item-icon">
                                    <img src="assets/secret/skill-head-blue.svg" alt="Skill" class="lazyloaded"
                                        data-ll-status="loaded"><noscript><img src="" alt=Skill></noscript>
                                </div>
                            </div>
                        </div>

                        <div class="items-column__item-body col-md-9">
                            <div class="item-content">
                                <ul class="styled-list styled-list--mark-blue">

                                    <li>We recruit and retain exceptional engineering talent and keep training them. 80%
                                        of Kanda’s developers and over 50% or QA staff hold MS degree in Computer
                                        Science or related fields. We have developed and perfected recruitment, hiring,
                                        training, and retention practices that allow us to bring on the best and the
                                        brightest technical personnel and empower them with rigorous agile engineering
                                        processes – which together constitute the greatest differentiator of our
                                        services in the marketplace.</li>
                                    <li>Breadth of technical expertise rare for a mid-sized software development
                                        partner. Kanda has several hundred engineers well versed in different
                                        combinations of C++, Java, C#, RoR, Objective C, JavaScript and other languages
                                        with experience in multitude of underlying platforms, IDEs, APIs, databases and
                                        frameworks.</li>
                                    <li>Integrated Quality Assurance – Manual and Automated</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=items-column__item>
                <div class="row">
                    <div class="row">
                        <div class="items-column__item-header col-md-3">
                            <div class="item-content">
                                <div class="item-title">Skill</div>
                                <div class="item-icon">
                                    <img src="assets/secret/stopwatch-blue.svg" alt="Skill" class="lazyloaded"
                                        data-ll-status="loaded"><noscript><img src="" alt=Skill></noscript>
                                </div>
                            </div>
                        </div>
                        <div class="items-column__item-body col-md-9">
                            <div class="item-content">
                                <ul class="styled-list styled-list--mark-blue">
                                    <li>We assemble a dedicated team ready to engage faster than hiring locally. We are
                                        able to quickly scale up or downsize according to client’s needs</li>
                                    <li>Ingrained Agile Development Methodology.</li>
                                    <li>Kanda has been actively using Agile Methodology since 2007. Our first agile team
                                        was trained in Amsterdam as there was no agile training available locally at
                                        that time. Currently over 70% of Kanda’s projects utilize Agile or near-Agile
                                        development.</li>
                                    <li>Tight integration with the Client’s team and processes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=items-column__item>
                <div class="row">
                    <div class="row">
                        <div class="items-column__item-header col-md-3">
                            <div class="item-content">
                                <div class="item-title">Skill</div>
                                <div class="item-icon">
                                    <img src="assets/secret/security-key-blue.svg" alt="Skill" class="lazyloaded"
                                        data-ll-status="loaded"><noscript><img src="" alt=Skill></noscript>
                                </div>
                            </div>
                        </div>
                        <div class="items-column__item-body col-md-9">
                            <div class="item-content">
                                <ul class="styled-list styled-list--mark-blue">
                                    <li>Thorough protection of client’s IP</li>
                                    <li>Kanda has worked on various enterprise-class applications that require strict
                                        security protocols. Security is assured at several levels, including
                                        authentication and authorization capabilities, communication and data security.
                                    </li>
                                    <li>Internal training and regular audits </li>
                                    <li>Spotless record for 20 years</li>
                                    <li>We have experienced zero security-related breaches or complaints in company’s
                                        history</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section page-section--blockquote bg-grayish-blue">
    <div class=page-section__block>
        <div class="br-lg-enable">
            <h3 class="text-white landing-header landing-header--undecorated landing-header--light landing-header--font-regular">Submit
                an RFP, request a quote or <br>contact us to learn how we can help you.</h3>
        </div>
        <div class="btn-wrapper text-center">
        <button class="btn btn-success btnGetStart" data-toggle=modal data-target=#modal-contacts>Get Started with Your
            Project</button>
        </div>
    </div>
</section>


<app-footer></app-footer>