<div class="container">


    <section class="page-section what-we-do-section">
        <div class=page-section__block>
            <h1 class="landing-header landing-header--font-regular landing-header--decoration-soft-blue">The Power of
                Our People</h1>

            <div class="sub-title text-center">
                <p>At FAISS we are dedicated to the hiring, training, and maintaining the satisfactory talent.
                    Our hiring practices and <br>
                    project deployment equipment are guided via the want to set up and hold the excellent technical
                    teams
                    <br> in a enormously competitive environment, the place wonderful humans are in very excessive
                    demand but are

                </p>
                <p>FAISS has over seven hundred software program engineers properly versed in one-of-a-kind
                    combos of C++, Java,
                    <br>
                    C#, RoR, Objective C, JavaScript, Python, PHP, Scala, and different languages with trip in
                    the multitude of underlying platforms, IDEs, APIs, databases, and frameworks.

                </p>
            </div>
        </div>

    </section>
    <section class="page-section bg-light-gray">
        <h2 class="landing-header landing-header--font-regular">Leadership Team</h2>
        <div class="row  align-items-center">
            <div class="col-md-4 mb-5" *ngFor="let i of [1, 2, 3]">
                <div class="card" style="width: 100%;">
                    <img src="/assets/about/alex-karpovsky.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title item-title">Farid Ahmed</h5>
                        <h6 class="item-sub-title">CEO</h6>
                        <p class="card-text">SAlex’s successful track record includes over 20 years in software
                            development management, consulting, and product marketing. Prior to FAISS, he held
                            senior
                            software development, joint venture, and channel management positions with Index
                            Technologies, Intersolv, and Dataware Technologies.

                            He holds a bachelor’s degree in Physics from Harvard University as well as a master’s degree
                            in Management of Technology from the MIT Sloan School of Management. Alex is a regular
                            speaker at DCI, </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

    <section class="page-section our-team-section ">
        <div class="container-fluid">
        <div class="page-section__block">
            <h2 class="landing-header landing-header--light landing-header--font-regular">Our Team at a Glance</h2>
            <div class=our-team__block>
                <div class="row">
                    <div class="col-md-3">
                        <div> <span class=our-team__block-number>650&#43;</span><span
                                class=our-team__block-title>TOP-NOTCH PROFESSIONALS</span>
                            <p></p>
                            <p>Architects, Engineers, PMs, BAs, UX/UI specialists, data scientists, Cloud Engineers
                                and DevOps.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div> <span class=our-team__block-number>&#62; 80%</span><span
                                class=our-team__block-title>MASTERS AND PHDs</span>
                            <p></p>
                            <p>in Computer Science, Data Science and other related areas.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div> <span class=our-team__block-number>25&#43;</span><span
                                class=our-team__block-title>YEARS</span>
                            <p></p>
                            <p>of experience developing business-critical software applications and solutions.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div> <span class=our-team__block-number>&#60;3%</span><span
                                class=our-team__block-title>TURNOVER RATE</span>
                            <p></p>
                            <p>For every client we build a cohesive team with shared goals and a sense of ownership.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class=our-team__block>
                <div> <span class=our-team__block-number>650&#43;</span><span class=our-team__block-title>TOP-NOTCH PROFESSIONALS</span><p></p>
                    <p>Architects, Engineers, PMs, BAs, UX/UI specialists, data scientists, Cloud Engineers and DevOps.</p>
                </div>
                <div> <span class=our-team__block-number>&#62; 80%</span><span class=our-team__block-title>MASTERS AND PHDs</span><p></p>
                    <p>in Computer Science, Data Science and other related areas.</p>
                </div>
                <div> <span class=our-team__block-number>25&#43;</span><span class=our-team__block-title>YEARS</span><p></p>
                    <p>of experience developing business-critical software applications and solutions.</p>
                </div>
                <div> <span class=our-team__block-number>&#60;3%</span><span class=our-team__block-title>TURNOVER RATE</span><p></p>
                    <p>For every client we build a cohesive team with shared goals and a sense of ownership.</p>
                </div>
            </div> -->
        </div>
    </div>
    </section>

<div class="container">
    <section class="page-section diverse-talent-section">
        <div class=page-section__block>
            <h2 class="landing-header landing-header--font-regular landing-header--decoration-soft-blue">Diverse Talent
                in all areas of software development &amp; delivery</h2>
            <div class="row diverse-talent__block">
                <div class="col-md-3">
                    <img src="assets/about/team/about_team_block4_icon1.svg" alt="TECHNICAL LEADS">

                    <br> <span>TECHNICAL LEADS</span>
                </div>
                <div class="col-md-3">
                    <img src="assets/about/team/about_team_block4_icon2.svg" alt="PROJECT MANAGERS">

                    <br> <span>PROJECT MANAGERS</span>
                </div>
                <div class="col-md-3">
                    <img src="assets/about/team/about_team_block4_icon3.svg" alt="BUSINESS ANALYSTS">

                    <br> <span>BUSINESS ANALYSTS</span>
                </div>
                <div class="col-md-3">
                    <img src="assets/about/team/about_team_block4_icon4.svg" alt="DATA SCIENTISTS">

                    <br> <span>DATA SCIENTISTS</span>
                </div>
            </div>
            <div class="row diverse-talent__block">
                <div class="col-md-3">
                    <img src="assets/about/team/about_team_block4_icon5.svg" alt="system designers">

                    <br> <span>system designers</span>
                </div>
                <div class="col-md-3">
                    <img src="assets/about/team/about_team_block4_icon6.svg" alt="software engineers">

                    <br> <span>software engineers</span>
                </div>
                <div class="col-md-3">
                    <img src="assets/about/team/about_team_block4_icon7.svg" alt="integration &#038; release engineers">

                    <br> <span>integration &amp; release engineers</span>
                </div>
                <div class="col-md-3">
                    <img src="assets/about/team/about_team_block4_icon8.svg"
                        alt="test development, manual QA &#038; QA automation engineers">

                    <br> <span>test development, manual QA &amp; QA automation engineers</span>
                </div>
            </div>
            <div class="row diverse-talent__block">
                <div class="col-md-3">
                    <img src="assets/about/team/about_team_block4_icon9.svg" alt="UI DESIGNERS">

                    <br> <span>UI DESIGNERS</span>
                </div>
                <div class="col-md-3">
                    <img src="assets/about/team/about_team_block4_icon10.svg" alt="TECHNICAL WRITERS">

                    <br> <span>TECHNICAL WRITERS</span>
                </div>
                <div class="col-md-3">
                    <img src="assets/about/team/about_team_block4_icon11.svg" alt="SUPPORT PERSONNEL">

                    <br> <span>SUPPORT PERSONNEL</span>
                </div>
                <div class="col-md-3">
                    <img src="assets/about/team/about_team_block4_icon12.svg" alt="IT PERSONNEL">

                    <br> <span>IT PERSONNEL</span>
                </div>
            </div>
        </div>
    </section>


    <section class="page-section bg-mild-gray you-need-us-section">
        <h2 class="landing-header landing-header--font-regular">We’re There Only When You Need Us</h2>
        <div class="page-section__block you-need-us__block">
            <div class=you-need-us__left>
                <ul>
                    <li>Application Definition and Roadmap</li>
                    <li>Design and Development</li>
                    <li>Continuing product development and consolidation</li>
                    <li>Integrated or Stand-alone QA team – Manual, Automated, and Load Testing</li>
                    <li>Optimal allocation of resources to ensure product quality and reduce the total cost of ownership
                    </li>
                </ul>
            </div>
            <div class=you-need-us__right>
                <div class=you-need-us__right-team>
                    <div> <img src="assets/about/team/about_team_block5_icon1.svg" alt="your team">

                        <br> <span>your team</span>
                    </div>
                </div>
                <div class=you-need-us__right-list>
                    <h3> FAISS Team</h3>
                    <ul>
                        <li>
                            <div class="you-need-us__right-list--left"> <img
                                    src="assets/about/team/about_team_block5_icon2.svg"
                                    alt="application defintion &#038; roadmap">
                            </div>
                            <div class="you-need-us__right-list--right"> <span>application defintion
                                </span></div>
                        </li>
                        <li>
                            <div class="you-need-us__right-list--left"> <img
                                    src="assets/about/team/about_team_block5_icon3.svg" alt="design">
                            </div>
                            <div class="you-need-us__right-list--right"> <span>design</span></div>
                        </li>
                        <li>
                            <div class="you-need-us__right-list--left"> <img
                                    src="assets/about/team/about_team_block5_icon4.svg" alt="implementation">
                            </div>
                            <div class="you-need-us__right-list--right"> <span>implementation</span></div>
                        </li>
                        <li>
                            <div class="you-need-us__right-list--left"> <img
                                    src="assets/about/team/about_team_block5_icon5.svg"
                                    alt="testing &#038; verification">

                            </div>
                            <div class="you-need-us__right-list--right"> <span>testing &amp; verification</span></div>
                        </li>
                        <li>
                            <div class="you-need-us__right-list--left"> <img
                                    src="assets/about/team/about_team_block5_icon6.svg"
                                    alt="Maintenance &#038; Support">

                            </div>
                            <div class="you-need-us__right-list--right"> <span>Maintenance &amp; Support</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>

<section class="page-section submit-rfp-section bg-dark-gray">
    <div class="container-fluid">
        <div class=page-section__block>
            <div class="br-lg-enable">
                <h3
                    class="text-white landing-header landing-header--undecorated landing-header--light landing-header--font-regular">
                    Submit
                    an RFP, request a quote or <br>contact us to learn how we can help you.</h3>
            </div>
            <div class="btn-wrapper text-center">
                <button class="btn btn-success btnGetStart" data-toggle=modal data-target=#modal-contacts>Get Started
                    with Your
                    Project</button>
            </div>
        </div>
    </div>
</section>