<div class="container">
    <div class=content-wrapper>
        <section class="page-section page-section--blog news-section">
            <h1 class="landing-h2 landing-header landing-header--font-regular py-5">News</h1>

            <div class="card mb-5">
                <div class="card-body">
                    <div class="row py-4">


                        <div class="col-md-3 d-flex align-items-center">
                            <div class="thumb-container__img-wrap "> <img
                                    src="assets/about/news/We-Stand-with-Ukraine-240x126.png" alt="ClearGov logo">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class=news-item-inner__body>
                                <div class="news-item-inner__date pb-2">October 22, 2022</div> <a class="news-item-inner__title inner__title titleFont"  href="#">FAISS Ceased Operations in Russia</a>
                                <div class="news-item-inner__excerpt">
                                    <p>For 8th year in a row, FAISS Software has ranked among the top 5000 companies in the nation with a three-year revenue growth of 119%. FAISS Software made its first appearance on the &hellip;</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            
            <div class="card mb-5">
                <div class="card-body">
                    <div class="row py-4">


                        <div class="col-md-3 d-flex align-items-center">
                            <div class="thumb-container__img-wrap "> <img
                                    src="assets/about/news/We-Stand-with-Ukraine-240x126.png" alt="ClearGov logo">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class=news-item-inner__body>
                                <div class="news-item-inner__date pb-2">August 22, 2022</div> <a class="news-item-inner__title inner__title titleFont"  href="#">FAISS Named One of Inc.5000 Fastest Growing Companies in the US for 8th Year in a Row</a>
                                <div class="news-item-inner__excerpt">
                                    <p>For 8th year in a row, FAISS has ranked among the top 5000 companies in the nation with a three-year revenue growth of 119%. FAISS made its first appearance on the  &hellip;</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="card mb-5">
                <div class="card-body">
                    <div class="row py-4">


                        <div class="col-md-3 d-flex align-items-center">
                            <div class="thumb-container__img-wrap "> <img
                                    src="assets/about/news/We-Stand-with-Ukraine-240x126.png" alt="ClearGov logo">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class=news-item-inner__body>
                                <div class="news-item-inner__date pb-2">July 22, 2022</div> <a class="news-item-inner__title inner__title titleFont"  href="#">FAISS Partners up With ClearGov® to Modernize the Future of Budget Cycle Management</a>
                                <div class="news-item-inner__excerpt">
                                    <p>ClearGov® is the leading software provider which assists municipalities and their management teams with budget cycle management. As a part of their mission of advancing the budgeting process, they automate workflows and make  &hellip;</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="card mb-5">
                <div class="card-body">
                    <div class="row py-4">


                        <div class="col-md-3 d-flex align-items-center">
                            <div class="thumb-container__img-wrap "> <img
                                    src="assets/about/news/We-Stand-with-Ukraine-240x126.png" alt="ClearGov logo">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class=news-item-inner__body>
                                <div class="news-item-inner__date pb-2">June 02, 2022</div> <a class="news-item-inner__title inner__title titleFont"  href="#">FAISS works with Karademas Management to help build a custom property management solution</a>
                                <div class="news-item-inner__excerpt">
                                    <p>Karademas is an owner-operated company with multiple locations in both Wisconsin and Illinois that offers well-maintained, high-quality residential communities operated by skilled management and maintenance staff at competitive prices. With over twenty years &hellip;</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="card mb-5">
                <div class="card-body">
                    <div class="row py-4">


                        <div class="col-md-3 d-flex align-items-center">
                            <div class="thumb-container__img-wrap "> <img
                                    src="assets/about/news/We-Stand-with-Ukraine-240x126.png" alt="ClearGov logo">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class=news-item-inner__body>
                                <div class="news-item-inner__date pb-2">August 22, 2022</div> <a class="news-item-inner__title inner__title titleFont"  href="#">FAISS Named One of Inc.5000 Fastest Growing Companies in the US for 8th Year in a Row</a>
                                <div class="news-item-inner__excerpt">
                                    <p>For 8th year in a row, FAISS has ranked among the top 5000 companies in the nation with a three-year revenue growth of 119%. FAISS made its first appearance on the &hellip;</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            
        </section>
    </div>
</div>