
<div class="page-content post-1807 page type-page status-publish hentry">
    <section class="page-section page-section--preview contact-us-preview-section mt-2">
        <div class=page-section__block>
            <p class="landing-header landing-header--undecorated landing-header--light landing-header--align-left titleFont">Submit Your Software Development RFP</p>
            <p class="text-white" style="font-size:18px">Thank you for your activity in FAISS.
                <br> Please take a few moments to entire this form. Documents can be uploaded if wished to clarify your request.</p>
        </div>
    </section>

    <section class="page-section contact-information">
        <div class=page-section__block>
            <div class="row mb-n60">
                <div class="col-lg-6 mb-60">
                    <div role=form class=wpcf7 id=wpcf7-f1482-p1807-o1 lang=en-US dir=ltr>
                        <div class=screen-reader-response>
                            <p role=status aria-live=polite aria-atomic=true></p>
                            <ul></ul>
                        </div>
                        <form >
                            <div style="display: none;">
                                <input type=hidden name=_wpcf7 value=1482>
                                <input type=hidden name=_wpcf7_version value=5.6.4>
                                <input type=hidden name=_wpcf7_locale value=en_US>
                                <input type=hidden name=_wpcf7_unit_tag value=wpcf7-f1482-p1807-o1>
                                <input type=hidden name=_wpcf7_container_post value=1807>
                                <input type=hidden name=_wpcf7_posted_data_hash value>
                                <input type=hidden name=_wpcf7_recaptcha_response value>
                            </div>
                            <div class="form-body form-body--submit-rfp">
                                <div class="row form-row">
                                    <div class=col-12>
                                        <div class=form-group>
                                            <label for=submit-rfp-name>Your Name</label> <span class=wpcf7-form-control-wrap data-name=your-name><input
type=text name=your-name value size=40 class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id=submit-rfp-name aria-required=true aria-invalid=false></span></div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class=col-12>
                                        <div class=form-group>
                                            <label for=submit-rfp-email>Your Email</label> <span class=wpcf7-form-control-wrap data-name=your-email><input
type=email name=your-email value size=40 class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id=submit-rfp-email aria-required=true aria-invalid=false></span></div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class=col-12>
                                        <div class=form-group>
                                            <label for=submit-rfp-subject>Subject (optional)</label> <span class=wpcf7-form-control-wrap data-name=subject><input
type=text name=subject value size=40 class="wpcf7-form-control wpcf7-text form-control" id=submit-rfp-subject aria-invalid=false></span></div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class=col-12>
                                        <div class=form-group>
                                            <label for=submit-rfp-message>Your Message</label> <span class=wpcf7-form-control-wrap data-name=your-message><textarea name=your-message cols=40 rows=10 class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" id=submit-rfp-message aria-required=true aria-invalid=false></textarea></span></div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-12">
                                        <div class="form-group form-group--file">
                                            <div class="input-btn btn btn-muted btn-sm"> <span class=wpcf7-form-control-wrap data-name=file-955><input
type="file" name="file-955" class="wpcf7-form-control wpcf7-file form-control mt-2" accept=".pdf,.doc,.docx,.ppt,.pptx,.odt,.txt" aria-invalid="false"></span> Choose File</div>
                                            <div class=input-name data-default="Upload your RFP (optional)">Upload your RFP (optional). File Size: no more than 10 Mb.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class=col-12>
                                        <div class="form-group form-group--submit">
                                            <input type="submit" value="Submit" class="wpcf7-form-control has-spinner wpcf7-submit btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=wpcf7-response-output aria-hidden=true></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <span class="wpcf7-spinner"></span>
    </section>
</div>

