<section class="page-section customers-intro-section">
    <div class=page-section__block>
        <h1 class="landing-h2 landing-header landing-header--undecorated landing-header--font-regular">Customers</h1>
        <p class="sub-header br-lg-enable">In over two decades Future AI Soft has met the demanding needs for hundreds of clients – from one
            <br> person with an idea to billion dollar enterprise with a key initiative.</p>
        <hr>
        <div class="row mb-n40">
            <div class="col-sm-6 col-md-3 mb-40"> <img class="d-block mx-auto" src="assets/about/customer/aptus-health.png" alt="Aptus Health" >
               
            </div>
            <div class="col-sm-6 col-md-3 mb-40"> <img class="d-block mx-auto" src="assets/about/customer/janssen.png" alt=Janssen >
               
            </div>
            <div class="col-sm-6 col-md-3 mb-40"> <img class="d-block mx-auto" src="assets/about/customer/verizon-media.png" alt="Verizon Media">
                  </div>
            <div class="col-sm-6 col-md-3 mb-40"> <img class="d-block mx-auto" src="assets/about/customer/rue-gilt-groupe.png" alt="Rue Gilt Groupe">
                </div>
        </div>
    </div>
</section>
<section class="page-section FutureAiSoft-is-trusted-section bg-image-team">
    <div class=page-section__block>
        <h2 class="landing-h1 landing-header landing-header--undecorated landing-header--light">Future AI Soft is Trusted by <span
class=text-soft-blue>more</span> Companies</h2></div>
</section>

<section class=page-section>
    <div class=page-section__block>
        <div class="gallery gallery--rows-xl">
            <div class="row">
                <div class="col-md-3 gallery__item d-flex align-middle"> <img style="height: 80px; margin-top: 40px;" src="http://enlistment.frc.gov.bd/assets/img/frc.png" class="img-fluid" alt=Lionbridge >
                    
                </div>
                <div class="col-md-3 gallery__item d-flex align-middle"> <img src="assets/about/customer/bsmmu.png" class="img-fluid" alt=Nuance >
                    
                </div>
                <div class="col-md-3 gallery__item d-flex align-middle"> <img src="assets/about/customer/ibn_sina.png" class="img-fluid" alt=dun&#038;bradstreet >
                
                </div>
                <div class="col-md-3 gallery__item d-flex align-middle"> <img src="assets/about/customer/MetLife.png" class="img-fluid" alt=Curaspan >                
                </div>
               
            </div>
            
            
        </div>
    </div>
</section>
