<!-- Hero Start -->
<section class="bg-half-170 pb-0 bg-primary d-table w-100"
    style="background: url('assets/images/home-preview-bg.webp') center center;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="title-heading mb-md-5 pb-md-5">
                    <h4 class="text-white-50">We are creative</h4>
                    <h4 class="heading text-white mb-3 title-dark"> Trusted IT Solution <br> Company </h4>
                    <p class="para-desc text-white-50">Enable intelligent automation and implement agility to transform, accelerate and optimize your business with next-gen custom software development capabilities.                   </p>
                    <div class="mt-4 pt-2">
                        <a href="javascript:void(0)" class="btn btn-light">Get Started</a>
                    </div>
                </div>
            </div>
            <!--end col-->

            <!-- <div class="col-lg-5 col-md-6 mt-5 mt-sm-0">
                        <img src="assets/images/services.svg" class="img-fluid" alt="">
                    </div> -->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Partners start -->
<section class="py-4 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="assets/images/client/amazon.svg" class="avatar avatar-ex-sm" alt="">
            </div>
            <!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="assets/images/client/google.svg" class="avatar avatar-ex-sm" alt="">
            </div>
            <!--end col-->
            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="assets/images/client/paypal.svg" class="avatar avatar-ex-sm" alt="">
            </div>
            <!--end col-->

            <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                <img src="assets/images/client/shopify.svg" class="avatar avatar-ex-sm" alt="">
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->

<!-- Start -->
<section class="page-section bg-snow-white how-FutureAiSoft-can-help-section">
    <div class="container">
        <div class="page-section__block">
            <div class="row mb-5 pb-5">
                <div class="col-md12">
                    <h2 class="landing-header text-uppercase text-center">How can FutureAI Soft help</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-md-3 items-list items-list--four items-list--directions">
                    <div class="items-list__item">
                        <div class="items-list__item-inner">
                            <a href="\"
                                class="item-heading">
                                <img src="assets/images/landing/laptop-completely-blue.svg"
                                    width="87" height="55" alt="Custom Software Design and Development"
                                    class="lazyloaded" data-ll-status="loaded">
                            </a>
                            <a href="\"
                                class="item-title">Custom Software <br> Design and Development</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 items-list items-list--four items-list--directions">
                    <div class="items-list__item">
                        <div class="items-list__item-inner">
                            <a href="\"
                                class="item-heading">
                                <img src="assets/images/landing/mobile-completely-blue.svg"
                                    width="87" height="55" alt="Custom Software Design and Development"
                                    class="lazyloaded" data-ll-status="loaded">
                            </a>
                            <a href="\"
                                class="item-title">Mobile Application Development</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 items-list items-list--four items-list--directions">
                    <div class="items-list__item">
                        <div class="items-list__item-inner">
                            <a href="\"
                                class="item-heading">
                                <img src="assets/images/landing/cloud-completely-blue.svg"
                                    width="87" height="55" alt="Custom Software Design and Development"
                                    class="lazyloaded" data-ll-status="loaded">
                            </a>
                            <a href="\"
                                class="item-title">Cloud Migration, Optimization and Management</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 items-list items-list--four items-list--directions">
                    <div class="items-list__item">
                        <div class="items-list__item-inner">
                            <a href="\"
                                class="item-heading">
                                <img src="assets/images/landing/thumb-up-completely-blue.svg"
                                    width="87" height="55" alt="Custom Software Design and Development"
                                    class="lazyloaded" data-ll-status="loaded">
                            </a>
                            <a href="\"
                                class="item-title">Software Quality <br> Assurance and Testing</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 items-list items-list--four items-list--directions">
                    <div class="items-list__item">
                        <div class="items-list__item-inner">
                            <a href="\"
                                class="item-heading">
                                <img src="assets/images/landing/head-completely-blue.svg"
                                    width="87" height="55" alt="Custom Software Design and Development"
                                    class="lazyloaded" data-ll-status="loaded">
                            </a>
                            <a href="\"
                                class="item-title">Digital Transformation</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 items-list items-list--four items-list--directions">
                    <div class="items-list__item">
                        <div class="items-list__item-inner">
                            <a href="\"
                                class="item-heading">
                                <img src="assets/images/landing/infinity-completely-blue.svg"
                                    width="87" height="55" alt="Custom Software Design and Development"
                                    class="lazyloaded" data-ll-status="loaded">
                            </a>
                            <a href="\"
                                class="item-title">Software Maintenance <br> and Support</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 items-list items-list--four items-list--directions">
                    <div class="items-list__item">
                        <div class="items-list__item-inner">
                            <a href="\"
                                class="item-heading">
                                <img src="assets/images/landing/puzzle-completely-blue.svg"
                                    width="87" height="55" alt="Custom Software Design and Development"
                                    class="lazyloaded" data-ll-status="loaded">
                            </a>
                            <a href="\"
                                class="item-title">Custom Software <br> Design and Development</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 items-list items-list--four items-list--directions">
                    <div class="items-list__item">
                        <div class="items-list__item-inner">
                            <a href="\"
                                class="item-heading">
                                <img src="assets/images/landing/team-completely-blue.svg"
                                    width="87" height="55" alt="Custom Software Design and Development"
                                    class="lazyloaded" data-ll-status="loaded">
                            </a>
                            <a href="/"
                                class="item-title">Custom Software <br> Design and Development</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End -->

<section class="page-section bg-image-team total-stats-section rocket-lazyload lazyloaded"
    style="background-image: url(&quot;assets/images/landing/bg-team.png&quot;);"
    data-ll-status="loaded">
    <div class="page-section__block">
        <div class="row d-flex justify-content-between">
            <div class="col-md-4">
                <div class="items-list__item-inner">
                    <div class="item-heading text-center"><b>5+&nbsp;</b>Years</div>
                    <div class="item-title text-center">of best practices <br>in Software Development</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="items-list__item-inner">
                    <div class="item-heading text-center">Exceptional <br>Engineers</div>
                    <div class="item-title text-center">Experienced, Dedicated, <br>And Continuously Learning</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="items-list__item-inner">
                    <div class="item-heading text-center">Agile at Our <br>Core</div>
                    <div class="item-title text-center">Experienced, Dedicated, <br>And Continuously Learning</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end section-->

<section class="page-section bg-snow-white featured-directions-section">
    <div class="page-section__block">
        <div class="featured-directions" style="text-align: justify;">
            <div class="featured-directions__row row">
                <div class="col-lg-7 order-lg-1">
                    <div class="featured-directions__thumb">
                        <img src="assets/images/landing/saas.png"
                            width="621" height="611" alt="Custom Software Development for Cloud and SaaS"
                            class="lazyloaded img-fluid" data-ll-status="loaded">
                    </div>
                </div>
                <div class="col-lg-5" style="text-align: justify;">
                    <h3 class="landing-header landing-header--align-left landing-header--decoration-small">Custom
                        Software Development <br> for Cloud and SaaS</h3>
                    <p style="text-align:justify;">FutureAI Soft is a premier custom software development and 
                        quality assurance company delivering complex 
                        world-class software solutions on a variety of technology 
                        platforms to clients ranging from Fortune 19 companies 
                        to dynamic startups. Our impeccable track record spans 
                        two decades and includes helping develop well over a 
                        hundreds successful software initiatives.</p>
                    <div class="mt-40">
                        <!-- <a href="\"
                            class="btn btn-primary">Learn more</a> -->
                    </div>
                </div>
            </div>
            <div class="featured-directions__row row">
                <div class="col-lg-7">
                    <div class="featured-directions__thumb">
                        <img src="assets/images/landing/startups.png"
                            width="746" height="683" alt="Software Development Services for Startups" class="lazyloaded img-fluid"
                            data-ll-status="loaded">
                    </div>
                </div>
                <div class="col-lg-5">
                    <h3 class="landing-header landing-header--align-left landing-header--decoration-small">Software
                        Development Services <br> for Startups</h3>
                    <p>At FutureAI Soft, we are problem solvers above all and we love 
                        new challenges. Thus, we love working with startups. 
                        Entrepreneurs have brilliant ideas, and FutureAI Soft has the 
                        necessary technical expertise and rigorous processes to 
                        help transform ideas into a service or a product and 
                        deliver it to the market. FutureAI Soft has worked with startups 
                        at just about every stage of growth and funding. We have 
                        thorough understanding of critical milestones that must 
                        be accomplished to advance to the next stage of 
                        growth. Our commitment to contemporary Agile 
                        practices helps to tackle development goals in a time 
                        sensitive manner delivering market ready solutions to our 
                        clients.</p>
                    <div class="mt-40">
                        <!-- <a href="/"
                            class="btn btn-primary">Learn more</a> -->
                    </div>
                </div>
            </div>
            <div class="featured-directions__row row">
                <div class="col-lg-7 order-lg-1">
                    <div class="featured-directions__thumb img-fluid">
                        <img src="assets/images/landing/digital-health.png"
                            width="714" height="641" alt="Digital Health Solutions and Development Services"
                            class="lazyloaded img-fluid" data-ll-status="loaded">
                    </div>
                </div>
                <div class="col-lg-5">
                    <h3 class="landing-header landing-header--align-left landing-header--decoration-small">Digital
                        Health Solutions <br> and Development Services</h3>
                    <p>While you build trust and credibility as a Digital Health 
                        company, FutureAI Soft will back you up with reliability and 
                        agility on the technical side, reducing time to market and 
                        associated risks. We will help you transform your product 
                        roadmap into a HIPAA compliant, interoperable and 
                        secure state-of-the-art solution without draining your 
                        budget yet preserving quality. We have the engineering 
                        talent that has helped dozens of Digital Health and Life 
                        Sciences companies solve their most complex technology 
                        puzzles, and are trusted by companies like Janssen, 
                        Imprivata, CTCA and industry disruptors like Intervention 
                        Insights, Lifepod, Epion Health and others to achieve their 
                        complex technical objectives and meet their development 
                        milestones.</p>
                    <div class="mt-40">
                        <!-- <a href="/"
                            class="btn btn-primary">Learn more</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>