<div class="page-content">
    <section class="page-section page-section--preview contact-us-preview-section mt-2">
        <div class=page-section__block>
            <p class="landing-header landing-header--undecorated landing-header--light landing-header--align-left titleFont">Contact Us</p>
            <p class="text-white" style="font-size:18px">Thank you for the interest in Futureaisoft Software services.
                <br> Please take a few moments to complete this form. Documents can be uploaded if needed to clarify your request.</p>
        </div>
    </section>
    <section class=page-section>
        <div class=page-section__block>
            <div role=form class=wpcf7 id=wpcf7-f24038-p331-o1 lang=en-US dir=ltr>
                <div class=screen-reader-response>
                    <p role=status aria-live=polite aria-atomic=true></p>
                    <ul></ul>
                </div>
                <form>
                    <div style="display: none;">
                        <input type=hidden name=_wpcf7 value=24038>
                        <input type=hidden name=_wpcf7_version value=5.6.4>
                        <input type=hidden name=_wpcf7_locale value=en_US>
                        <input type=hidden name=_wpcf7_unit_tag value=wpcf7-f24038-p331-o1>
                        <input type=hidden name=_wpcf7_container_post value=331>
                        <input type=hidden name=_wpcf7_posted_data_hash value>
                        <input type=hidden name=_wpcf7_recaptcha_response value>
                    </div>
                    <div class="form-body form-body--contact-us">
                        <div class=form-row>
                            <div class=col-md-6>
                                <div class=form-group>
                                    <label for=contact-us-first-name>First Name <sup class="font-weight-semi-bold text-danger">*</sup></label> <span class=wpcf7-form-control-wrap data-name=first-name><input
type=text name=first-name value size=40 class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id=contact-us-first-name aria-required=true aria-invalid=false></span></div>
                            </div>
                            <div class=col-md-6>
                                <div class=form-group>
                                    <label for=contact-us-last-name>Last Name <sup class="font-weight-semi-bold text-danger">*</sup></label> <span class=wpcf7-form-control-wrap data-name=last-name><input
type=text name=last-name value size=40 class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id=contact-us-last-name aria-required=true aria-invalid=false></span></div>
                            </div>
                        </div>
                        <div class=form-row>
                            <div class=col-md-6>
                                <div class=form-group>
                                    <label for=contact-us-email>Email <sup class="font-weight-semi-bold text-danger">*</sup></label> <span class=wpcf7-form-control-wrap data-name=email><input
type=email name=email value size=40 class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id=contact-us-email aria-required=true aria-invalid=false></span></div>
                                <div class=form-group>
                                    <label for=contact-us-phone-number>Phone Number</label> <span class=wpcf7-form-control-wrap data-name=phone-number><input
type=tel name=phone-number value size=40 class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel form-control" id=contact-us-phone-number aria-invalid=false></span></div>
                                <div class=form-group>
                                    <label for=contact-us-company>Company</label> <span class=wpcf7-form-control-wrap data-name=company><input
type=text name=company value size=40 class="wpcf7-form-control wpcf7-text form-control" id=contact-us-company aria-invalid=false></span></div>
                            </div>
                            <div class="col-md-6 d-flex flex-column">
                                <div class="form-group flex-grow-1 d-flex flex-column">
                                    <label for=contact-us-message>Message <sup class="font-weight-semi-bold text-danger">*</sup></label> <span class=wpcf7-form-control-wrap data-name=message><textarea name=message cols=40 rows=4 class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control h-100" id=contact-us-message aria-required=true aria-invalid=false></textarea></span></div>
                            </div>
                        </div>
                        <div class=form-row>
                            <div class=col-md-12>
                                <div class="form-group form-group--file">
                                    <div class="input-btn btn btn-muted btn-sm"> <span class=wpcf7-form-control-wrap data-name=rfp-file><input
type=file name=rfp-file size=40 class="wpcf7-form-control wpcf7-file form-control" accept=.pdf,.doc,.docx,.ppt,.pptx,.odt,.txt aria-invalid=false></span> Choose File</div>
                                    <div class=input-name data-default="Upload your RFP (optional)">Upload your RFP (optional)</div>
                                </div>
                            </div>
                        </div>
                        <div class=form-row>
                            <div class=col-md-12>
                                <div class="form-group form-group--submit btn-wrapper">
                                    <input type="submit" value="Submit" class="wpcf7-form-control has-spinner wpcf7-submit btnSub btn-primary btn-w-290">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=wpcf7-response-output aria-hidden=true></div>
                </form>
            </div>
        </div>
    </section>

    <section class="page-section bg-snow-white pb-40">
        <div class=page-section__block>
            <h2 class="landing-h3 landing-header landing-header--decoration-blue">Our Locations</h2>
            <div class="row mb-90">
                <div class=col-lg-5>
                    <div id=offices-accordion class=accordion>
                        <div class=accordion__item>
                            <div id=office-collapse-1-header class=item-header data-toggle=collapse data-target=#office-collapse-1-collapse aria-expanded=true aria-controls=office-collapse-1-body>
                                <h2 class="landing-h5 text-dark mb-0">Boston Headquarters</h2></div>
                            <div id=office-collapse-1-collapse class="item-collapse collapse show" aria-labelledby=office-collapse-1-header data-parent=#offices-accordion>
                                <div class=item-body>
                                    <p>223 Needham Street, Newton, MA 02464</p>
                                    <p><a href=tel:+16173403850 class="text-inherit text-decoration-none">+1 617 340 3850</a></p>
                                    <p class=mb-20><a target=_blank href="https://maps.google.com/maps?ll=42.310413,-71.212089&amp;z=16&amp;t=m&amp;hl=ru&amp;gl=US&amp;mapclient=embed&amp;q=233%20Needham%20St%20Newton%2C%20MA%2002464" rel="noopener noreferrer">get directions &#10141;</a></p>
                                    <p>
                                        <iframe loading=lazy src=about:blank width=100% height=225 frameborder=0 style=border:0 allowfullscreen data-rocket-lazyload=fitvidscompatible data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2950.5056903491522!2d-71.2142676425891!3d42.31041178590591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e382185ebbec6b%3A0xc831219c302978d9!2s223%20Needham%20St%2C%20Newton%2C%20MA%2002464!5e0!3m2!1sen!2sus!4v1638999906437!5m2!1sen!2sus"></iframe>
                                        <noscript>
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2950.5056903491522!2d-71.2142676425891!3d42.31041178590591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e382185ebbec6b%3A0xc831219c302978d9!2s223%20Needham%20St%2C%20Newton%2C%20MA%2002464!5e0!3m2!1sen!2sus!4v1638999906437!5m2!1sen!2sus" width=100% height=225 frameborder=0 style=border:0 allowfullscreen></iframe>
                                        </noscript>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=accordion__item>
                            <div id=office-collapse-2-header class="item-header collapsed" data-toggle=collapse data-target=#office-collapse-2-collapse aria-expanded=false aria-controls=office-collapse-2-body>
                                <h2 class="landing-h5 text-dark mb-0">New York Office</h2></div>
                            <div id=office-collapse-2-collapse class="item-collapse collapse" aria-labelledby=office-collapse-2-header data-parent=#offices-accordion>
                                <div class=item-body>
                                    <p>115 W 18th St., 2nd Floor New York, NY 10011.</p>
                                    <p><a href=tel:+18008079520 class="text-inherit text-decoration-none">Tel: +1 800 807 9520</a></p>
                                    <p class=mb-20><a target=_blank href="https://www.google.com/maps?ll=40.740368,-73.995647&#038;z=16&#038;t=m&#038;hl=ru&#038;gl=US&#038;mapclient=embed&#038;q=115+W+18th+St+New+York,+NY+10011" rel="noopener noreferrer">get directions &#10141;</a></p>
                                    <p>
                                        <iframe loading=lazy src=about:blank width=100% height=225 frameborder=0 style=border:0 allowfullscreen data-rocket-lazyload=fitvidscompatible data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9844410904066!2d-73.99783568459416!3d40.740367879328865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bcc3ea399b%3A0x8cc7820627311c02!2s115+W+18th+St%2C+New+York%2C+NY+10011!5e0!3m2!1sen!2sus!4v1497923535528"></iframe>
                                        <noscript>
                                            <iframe loading=lazy src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9844410904066!2d-73.99783568459416!3d40.740367879328865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bcc3ea399b%3A0x8cc7820627311c02!2s115+W+18th+St%2C+New+York%2C+NY+10011!5e0!3m2!1sen!2sus!4v1497923535528" width=100% height=225 frameborder=0 style=border:0 allowfullscreen></iframe>
                                        </noscript>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=accordion__item>
                            <div id=office-collapse-3-header class="item-header collapsed" data-toggle=collapse data-target=#office-collapse-3-collapse aria-expanded=false aria-controls=office-collapse-3-body>
                                <h2 class="landing-h5 text-dark mb-0">West Coast Office</h2></div>
                            <div id=office-collapse-3-collapse class="item-collapse collapse" aria-labelledby=office-collapse-3-header data-parent=#offices-accordion>
                                <div class=item-body>
                                    <p>2315 Lincoln Avenue, Alameda, CA 94501</p>
                                    <p class=mb-20><a target=_blank href="https://maps.google.com/maps?ll=37.767227,-122.241681&#038;z=14&#038;t=m&#038;hl=ru&#038;gl=US&#038;mapclient=embed&#038;q=2315%20Lincoln%20Ave%20Alameda%2C%20CA%2094501" rel="noopener noreferrer">get directions &#10141;</a></p>
                                    <p>
                                        <iframe loading=lazy src=about:blank width=100% height=225 frameborder=0 style=border:0 allowfullscreen data-rocket-lazyload=fitvidscompatible data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12615.936069592939!2d-122.2420378986234!3d37.7669729455203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f869576bf77e9%3A0x3680ad97e2afa1b7!2s2315+Lincoln+Ave%2C+Alameda%2C+CA+94501!5e0!3m2!1sen!2sus!4v1550080237651"></iframe>
                                        <noscript>
                                            <iframe loading=lazy src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12615.936069592939!2d-122.2420378986234!3d37.7669729455203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f869576bf77e9%3A0x3680ad97e2afa1b7!2s2315+Lincoln+Ave%2C+Alameda%2C+CA+94501!5e0!3m2!1sen!2sus!4v1550080237651" width=100% height=225 frameborder=0 style=border:0 allowfullscreen></iframe>
                                        </noscript>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=accordion__item>
                            <div id=office-collapse-4-header class="item-header collapsed" data-toggle=collapse data-target=#office-collapse-4-collapse aria-expanded=false aria-controls=office-collapse-4-body>
                                <h2 class="landing-h5 text-dark mb-0">Central Asia Office</h2></div>
                            <div id=office-collapse-4-collapse class="item-collapse collapse" aria-labelledby=office-collapse-4-header data-parent=#offices-accordion>
                                <div class=item-body>
                                    <p>1a Igemberdieva Str, Bishkek, Kyrgyzstan, 720020</p>
                                    <p class=mb-20><a target="_blank" href="https://goo.gl/maps/bte7ipEJLrKfZb9S8" rel="noopener noreferrer">get directions &#10141;</a></p>
                                    <p>
                                        <iframe loading=lazy src=about:blank width=100% height=225 frameborder=0 style=border:0 allowfullscreen data-rocket-lazyload=fitvidscompatible data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.5575916610446!2d74.60232685554294!3d42.8610738779819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7d2de83de0d%3A0x3a984d0e15016f09!2z0JHQuNC30L3QtdGBINGG0LXQvdGC0YAgItCQ0JLQoNCe0KDQkCI!5e0!3m2!1sen!2sus!4v1638998981758!5m2!1sen!2sus"></iframe>
                                        <noscript>
                                            <iframe loading=lazy src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.5575916610446!2d74.60232685554294!3d42.8610738779819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7d2de83de0d%3A0x3a984d0e15016f09!2z0JHQuNC30L3QtdGBINGG0LXQvdGC0YAgItCQ0JLQoNCe0KDQkCI!5e0!3m2!1sen!2sus!4v1638998981758!5m2!1sen!2sus" width=100% height=225 frameborder=0 style=border:0 allowfullscreen></iframe>
                                        </noscript>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 d-flex align-items-center justify-content-center"> <img class="mt-90 mt-lg-0" src="assets/about/rfp/Kanda-Locations.png" alt="Our Locations" data-lazy-src="https://www.kandasoft.com/wp-content/uploads/2022/08/Kanda-Locations.png">
                                </div>
            </div>
        </div>
    </section>
</div>